<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Computer_Store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-utilities.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/Computer_Store.styles.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BQ00TTQDQQ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-BQ00TTQDQQ');
    </script>
</head>
<body>
    <div class="TopHeader bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 text-light">
                    <i class="fa fa-map-marker"></i>
                    73 Tự Cường, Phường 4, Tân Bình, Hồ Chí Minh
                </div>
                <div class="col-lg-6">
                    <i class="fa fa-phone"></i>
                    <a class="text-light" href="tel:0838409092">08.38 409 092</a>
                </div>
                <div class="col-lg-2">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
    <header class="sticky-top bg-dark">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
                    <a class="navbar-brand text-danger" asp-area="" asp-controller="Home" asp-action="Index">░▒▓█ HУPΞЯ CS █▓▒░</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <partial name="_ManagePage" />
                            <partial name="_ProductNav" />
                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
                @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="FooterSection">
            <div class="ContactBlock">
                <div class="conatiner">
                    <div class="row">
                        <div class="col-12 col-lg-3 socialMedia">
                            <h4>FOLLOW US</h4>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </div>
                        <div class="col-12 col-lg-3">
                            <h4>CONTACT INFO</h4>
                            <ul class="contactList">
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    73 Tự Cường, Phường 4, Tân Bình, Hồ Chí Minh
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <a href="tel:0838409092">08.38 409 092</a>
                                </li>
                                <li>
                                    <i class="fa fa-envelope"></i>
                                    <a href="monahotel@gmail.com">hypercs@gmail.com</a>
                                </li>
                                <li>
                                    <i class="fa fa-credit-card-alt"></i>
                                    2812 1124 7790
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-lg-3">
                            <h4>CERTIFIED</h4>
                            <p></p>
                            <img class="img-fluid" src="~/images/assets/logoSaleNoti.png" alt="Hotel Prizes">
                        </div>
                        <div class="col-12 col-lg-3">
                            <h4>REGISTER</h4>
                            <p>To receive offer notification and info from us</p>
                            <form action="#" method="post">
                                <input type="email" name="subEmail" id="subEmail" placeholder="Email ...">
                                <button type="submit"><i class="fa fa-paper-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="BottomFooter">
            &copy Hyper CS | 2022 All right reserved
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
