@if (User.IsInRole("Moderator"))
{
    <li class="nav-item has-menu"><a class="nav-link text-white">Manage Product<i class="fa fa-angle-down"></i></a>
        <ul class="sub-menu bg-dark">
            <li class="nav-item"><a class="nav-link text-white" asp-controller="Computers" asp-action="Index">Computer</a></li>
            <li class="nav-item"><a class="nav-link text-white" asp-controller="Parts" asp-action="Index">Part</a></li>
        </ul>
    </li>
    <li class="nav-item has-menu"><a class="nav-link text-white" asp-controller="Orders" asp-action="Index">Manage Orders</a></li>
}

@if (User.IsInRole("Admin"))
{
    <li class="nav-item has-menu"><a class="nav-link text-white">Manage User<i class="fa fa-angle-down"></i></a>
        <ul class="sub-menu bg-dark">
            <li class="nav-item"><a class="nav-link text-white" asp-controller="UserRoles" asp-action="Index">Change Roles</a></li>
            <li class="nav-item"><a class="nav-link text-white" asp-controller="RoleManager" asp-action="Index">Add new Roles</a></li>
        </ul>
    </li>
}


