

<li class="nav-item has-menu">
    <a class="nav-link text-white" asp-controller="Home"
        asp-action="ComputerPage"
        asp-route-type="Laptop">Laptop<i class="fa fa-angle-down"></i></a>
    <ul class="sub-menu bg-dark">
        @{
            foreach(var brand in Enum.GetValues(typeof(Brand)))
            {
                <li class="nav-item">
                    <a class="nav-link text-white" 
                        asp-controller="Home" 
                        asp-action="ComputerPage" 
                        asp-route-type="Laptop" 
                        asp-route-brand="@brand">@brand</a>
                </li>
            }
        }
    </ul>
</li>
<li class="nav-item has-menu">
    <a class="nav-link text-white" asp-controller="Home"
        asp-action="ComputerPage"
        asp-route-type="Desktop">Desktop<i class="fa fa-angle-down"></i></a>
    <ul class="sub-menu bg-dark">
        @{
            
            foreach(var brand in Enum.GetValues(typeof(Brand)))
            {
                <li class="nav-item">
                    <a class="nav-link text-white" 
                        asp-controller="Home" 
                        asp-action="ComputerPage" 
                        asp-route-type="Desktop" 
                        asp-route-brand="@brand">@brand</a>
                </li>
            }
        }
    </ul>
</li>
<li class="nav-item has-menu">
    <a asp-controller="Home"
       asp-action="PartPage"
       asp-route-category="Accessory"
       class="nav-link text-white">Accessory</a>
</li>
<li class="nav-item has-menu">
    <a asp-controller="Home"
       asp-action="PartPage"
       asp-route-category="Component"
       class="nav-link text-white">Component</a>
</li>