@{
    ViewData["Title"] = "Blog";
}


<section id="page-header" class="blog-header">
    <h2>#readmore</h2>
    <p>Read all case studies about our product!</p>
</section>

<section id="blog">
    <div class="blog-box">
        <div class="blog-img">
            <img src="/img/blog/b1.jpg" alt="">
        </div>
        <div class="blog-details">
            <h4>The Cotton-Jersey Zip-up Hoodie</h4>
            <p>T-shirts are typically made from a blend of cotton and polyester, providing a balance of comfort, breathability, and durability. The exact fabric composition may vary depending on the brand and style.</p>
            <a href="#">CONTINUE READING</a>
        </div>
        <h1>13/01</h1>
    </div>
    <div class="blog-box">
        <div class="blog-img">
            <img src="/img/blog/b2.jpg" alt="">
        </div>
        <div class="blog-details">
            <h4>How to Style a Quiff</h4>
            <p>T-shirts are typically made from a blend of cotton and polyester, providing a balance of comfort, breathability, and durability. The exact fabric composition may vary depending on the brand and style.</p>
            <a href="#">CONTINUE READING</a>
        </div>
        <h1>12/01</h1>
    </div>
    <div class="blog-box">
        <div class="blog-img">
            <img src="/img/blog/b3.jpg" alt="">
        </div>
        <div class="blog-details">
            <h4>Must-Have Skater Girl Items</h4>
            <p>T-shirts are typically made from a blend of cotton and polyester, providing a balance of comfort, breathability, and durability. The exact fabric composition may vary depending on the brand and style.</p>
            <a href="#">CONTINUE READING</a>
        </div>
        <h1>13/04</h1>
    </div>
    <div class="blog-box">
        <div class="blog-img">
            <img src="/img/blog/b4.jpg" alt="">
        </div>
        <div class="blog-details">
            <h4>Runway-Inspired Trends</h4>
            <p>T-shirts are typically made from a blend of cotton and polyester, providing a balance of comfort, breathability, and durability. The exact fabric composition may vary depending on the brand and style.</p>
            <a href="#">CONTINUE READING</a>
        </div>
        <h1>16/01</h1>
    </div>
    <div class="blog-box">
        <div class="blog-img">
            <img src="/img/blog/b6.jpg" alt="">
        </div>
        <div class="blog-details">
            <h4>AW20 Menswear Trends</h4>
            <p>T-shirts are typically made from a blend of cotton and polyester, providing a balance of comfort, breathability, and durability. The exact fabric composition may vary depending on the brand and style.</p>
            <a href="#">CONTINUE READING</a>
        </div>
        <h1>10/03</h1>
    </div>


</section>