@{
    ViewData["Title"] = "Confirm Order";
    ApplicationUser user = await UserManager.GetUserAsync(User);
}

<form method="post" class="checkout-form" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6 checkout-details">
            <h3 class="border border-bottom border-2">Checkout information</h3>
            <div class="w-50">
                <p><strong>First Name</strong></p>
                <p>@user.FirstName</p>
            </div>
            <div class="w-50">
                <p><strong>Last Name</strong></p>
                <p>@user.LastName</p>
            </div>
        </div>
        <div class="col-md-6 order-details">

        </div>
    </div>
</form>