

<form method="post" class="checkout-form" enctype="multipart/form-data">
    <div class="checkout-details">
        <h3 class="border-bottom">Checkout information</h3>
        <div>

        </div>
    </div>
</form>