@{
    ViewData["Title"] = "Contact";
}

<section id="page-header" class="about-header">
            <h2>#let's_talk</h2>
            <p>LEAVE A MESSAGE, We love hear from you!</p>
        </section>

        <section id="contact-details" class="section-p1">
            <div class="details">
                <span>GET IN TOUCH</span>
                <h2>Visit one of our agency locations or contact us today</h2>
                <h3>Head Office</h3>
                <div>
                    <li>
                        <i class="fa-solid fa-map"></i>
                        <p>99 Cat Street Glasgow G1 IDK New York</p>
                    </li>
                    <li>
                        <i class="fa-solid fa-envelope"></i>
                        <p>catcontact@example.com</p>
                    </li>
                    <li>
                        <i class="fa-solid fa-phone"></i>
                        <p>9999999999</p>
                    </li>
                    <li>
                        <i class="fa-solid fa-clock"></i>
                        <p>Monday to Saturday: 9:00am to 19:00pm</p>
                    </li>
                </div>
            </div>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3915.8079981748333!2d106.66359397575421!3d11.053017354029524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d1d7df763eaf%3A0xf4323e44f2867057!2sEastern%20International%20University!5e0!3m2!1sen!2s!4v1699347212259!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            
        </section>

        <section id="form-detail">
            <form action="">
                <span>LEAVE A MESSAGE</span>
                <h2> We love to hear from you</h2>
                <input type="text" placeholder="Your name">
                <input type="text" placeholder="E-mail">
                <input type="text" placeholder="Subject">
                <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
                <button class="normal">Submit</button>

            </form>

            <div class="people">
                <div>
                    <img src="/img/people/1.png" alt="">
                    <p><span>John</span> Senior Marketing Manager <br> Phone:999 999 99 99 <br> E-mail: contact@example.com</p>
                </div>
                <div>
                    <img src="/img/people/2.png" alt="">
                    <p><span>William Smith</span> Senior Marketing Manager <br> Phone:999 999 99 99 <br> E-mail: contact@example.com</p>
                </div>
                <div>
                    <img src="/img/people/3.png" alt="">
                    <p><span>Emma Stone</span> Senior Marketing Manager <br> Phone:999 999 99 99 <br> E-mail: contact@example.com</p>
                </div>
            </div>
        </section>