@model Computer_Store.Models.Computer


<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <img src= "/@Model.Image" width="650" height="650"/>
        </div>
        <div class="col-6">
            <h4 class="mb-3">@Html.DisplayFor(model => model.Name)</h4>
            <partial name="_SpecTable"></partial>
            <div class="price-tag mt-2">
                <p>Buy now</p>
                @if (Model.Discount == 0)
                {
                    <p>@Model.Price</p>
                } 
                else
                {
                    <p class="text-danger">@Model.DisplayDiscountedPrice đ</p>
                    <p class="card-price-discounted">@Model.DisplayPrice đ</p>
                }
            </div>
            <form>
                <button type="submit" class="btn btn-outline-dark"> Add to cart</button>
            </form>
        </div>
    </div>
</div>
