@model Computer_Store.Models.Computer


<div>
    <img src= "/@Model.Image" width="400" height="400"/>
    <h4>Name: @Html.DisplayFor(model => model.Name)</h4>
    <partial name="_SpecTable"></partial>
    
    <div id="buttons-bottom">
        <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        <a class="btn btn-outline-info" asp-action="Index">Back to List</a>
    </div>
</div>
