
<div class="mt-3 row">
    <div class="col-9">
        <canvas id="chart-1" class="w-100"></canvas>
        <canvas id="chart-2" class="w-100"></canvas>
    </div>
    <div class="col-3 bg-light p-3">
        <p><strong>Total Revenue: </strong><span id="total-revenue"></span> VND</p>
        <p><strong>Total Unit: </strong><span id="total-unit"></span> Units</p>
        <p><strong>Most Bought: </strong><span id="most-unit"></span></p>
        <p><strong>Second Most Bought: </strong><span id="second-unit"></span> Units</p>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {  
            $.ajax({  
                url: '/api/Report',  
                dataType: "json",  
                method: 'get',  
                success: function(data) { 
                    drawScript(data);
                },  
                error: function (err) {  
                    alert(err);  
                }
            });  
        });

        function drawScript(data) {
            let labels = [];
            let totalUnit = [];
            let totalRevenue = [];
            
            let revenue = 0;
            let units = 0;

            for (let result of data) {
                labels.unshift(result.date);
                totalUnit.unshift(result.totalUnit);
                totalRevenue.unshift(result.totalRevenue);

                revenue += result.totalRevenue;
                units += result.totalUnit;
            }

            let formatter = Intl.NumberFormat('en-US');

            $('#total-revenue').text(formatter.format(revenue));
            $('#total-unit').text(formatter.format(units));
            $('#most-unit').text(data.mostBoughtCategory);
            $('#total-unit').text(data.secondBoughtCategory);

            let options = {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top'
                    },
                    title: {
                        display: true,
                        text: 'Daily sales'
                    },
                },
            };

            const ctx = $("#chart-1");
            const Chart1 = new Chart(ctx, {
                data: {
                    datasets: [{
                        type: 'line',
                        label: 'Revenue',
                        data: totalRevenue,
                        borderColor: 'rgb(54, 162, 235)',
                        backgroundColor: 'rgba(54, 162, 235, 0.5)',
                        skipNull: true,
                    }],
                    labels: labels
                },
                options: options
            });

            const ctx2 = $("#chart-2");
            const mixedChart = new Chart(ctx2, {
                data: {
                    datasets: [{
                        type: 'bar',
                        label: 'Unit Sold',
                        data: totalUnit,
                        borderColor: 'rgb(255, 99, 132)',
                        backgroundColor: 'rgba(255, 99, 132, 0.5)',
                        spanGaps: true,
                    }],
                    labels: labels
                },
                options: options
            });


             
        }
    </script>
}