@model IEnumerable<DailyReport>
<div class="mt-3 row">
    <div class="col-8">
        <canvas id="chart" width="400"></canvas>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        const ctx = $("#chart");
        const mixedChart = new Chart(ctx, {
            data: {
                datasets: [{
                    type: 'bar',
                    label: 'Bar Dataset',
                    data: [10, 20, 30, 40],
                    borderColor: 'rgb(255, 99, 132)',
                    backgroundColor: 'rgba(255, 99, 132, 0.5)',
                    spanGaps: true,
                }, {
                    type: 'line',
                    label: 'Line Dataset',
                    data: [17, 24, 43, 32],
                    borderColor: 'rgb(54, 162, 235)',
                    backgroundColor: 'rgba(54, 162, 235, 0.5)',
                    skipNull: true,
                }],
                labels: ['January', 'February', 'March', 'April']
            },
            options: options
        });
    </script>
}