@model IEnumerable<Clothing_Shop.Models.Clothes>
@{
    ViewData["Title"] = "Shop";
}

<section id="page-header">
    <h2>#stayhome</h2>
    <p>Save more with coupons & up to 70% aff!</p>
</section>

<section id="product1" class="section-p1">

    <div class="pro-container">
        @{
            foreach (var item in Model)
            {
                <a asp-controller="Home"
                   asp-action="ProductClothes"
                   asp-route-id="@item.Id">
                    <div class="pro">
                        <img src="/@item.Image" alt="">
                        <div class="des">
                            <span>@item.ClothesBrand</span>
                            <h5>@item.Name</h5>
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-start"></i>
                                <i class="fa-solid fa-start"></i>
                                <i class="fa-solid fa-start"></i>
                            </div>
                            <h4>$@item.Price</h4>
                        </div>
                        <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </a>
            }
        }
    </div>

</section>
<section id="pagination" class="">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#"><i class="fa-solid fa-arrow-right"></i></i></a>

</section>