@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="mid" id="logout">
    
    @{
        if (User.Identity != null && User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <h1>@ViewData["Title"]</h1>
                <p>Please confirm that you want to logout</p>
                <button type="submit" class="normal orange mid">Click here to Logout</button>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</div>
