@model Computer_Store.Models.Part

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Part</h4>
<hr />
<form asp-action="Create" enctype="multipart/form-data">
    <div id="buttons-bottom" class="form-group">
        <input type="submit" value="Add" class="btn btn-primary"/>
         <a class="btn btn-outline-info" asp-action="Index">Back to List</a>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Category" class="control-label mb-2"></label>
                <select asp-for="Category" class="form-control" asp-items="Html.GetEnumSelectList<PartCategory>()">
                    <option>Select part category</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Brand" class="control-label mb-2"></label>
                <select asp-for="Brand" class="form-control" asp-items="Html.GetEnumSelectList<Brand>()">
                    <option>Select a brand</option>
                </select>
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="SummarySpec" class="control-label mb-2"></label>
                <textarea asp-for="SummarySpec" rows="6" class="form-control" ></textarea>
                <span asp-validation-for="SummarySpec" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label mb-2"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Price" class="control-label mb-2"></label>
                <input asp-for="Price" class="form-control price" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Discount" class="control-label mb-2"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Select Product Image</label>
                <input required name="Image" type="file" accept=".jpg, .png, .jpeg" onchange="readURL(this)"/>
                <img class="img-thumbnail" id="preview"  width="600" height="600"/>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
