@model Computer_Store.Models.Computer

@{
    ViewData["Title"] = "Create";
}

<h1>Add new Product</h1>

<h4>Computer</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<ComputerType>()">
                    <option>Select a type of computer</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control" asp-items="Html.GetEnumSelectList<ComputerCategory>()">
                    <option>Select computer category</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <select asp-for="Brand" class="form-control" asp-items="Html.GetEnumSelectList<Brand>()"></select>
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>

            <div class="form-group spec">
                Specification
                <div class="row mb-2">
                    <div class="col-md-4">
                        <label class="control-label">CPU</label>
                        <input name="spec.CPU" class="form-control"/>
                    </div>
                    <div class="col-md-8">
                        <label class="control-label">CPU Details</label>
                        <input name="spec.CPUDetail" class="form-control"/>
                    </div>
                </div>
                
                 <div class="row mb-2">
                    <div class="col">
                        <label class="control-label">OS</label>
                        <input name="spec.OS" class="form-control"/>
                    </div>
                </div>
                
                 <div class="row mb-2">
                    <div class="col-md-4">
                        <label class="control-label">RAM</label>
                        <input name="spec.RAM" class="form-control"/>
                    </div>
                    <div class="col-md-8">
                        <label class="control-label">RAM Details</label>
                        <input name="spec.RAMDetail" class="form-control"/>
                    </div>
                </div>
                
                 <div class="row mb-2">
                    <div class="col-md-4">
                        <label class="control-label">GPU</label>
                        <input name="spec.GPU" class="form-control"/>
                    </div>
                    <div class="col-md-8">
                        <label class="control-label">GPU Detail</label>
                        <input name="spec.GPUDetail" class="form-control"/>
                    </div>
                    
                </div>

                 <div class="row mb-2">
                    <div class="col-md-4">
                        <label class="control-label">Motherboard</label>
                        <input name="spec.Motherboard" class="form-control"/>
                    </div>
                    <div class="col-md-8">
                        <label class="control-label">Motherboard Detail</label>
                        <input name="spec.MotherboardDetail" class="form-control"/>
                    </div>
                </div>

                 <div class="row mb-2">
                    <div class="col-md-4">
                        <label class="control-label">Screen</label>
                        <input name="spec.Screen" class="form-control"/>
                    </div>
                    <div class="col-md-8">
                        <label class="control-label">Screen Detail</label>
                        <input name="spec.ScreenDetail" class="form-control"/>
                    </div>
                </div>

                 <div class="row mb-2">
                    <div class="col-md-4">
                        <label class="control-label">Storage Drive</label>
                        <input name="spec.StorageDrive" class="form-control"/>
                    </div>
                     <div class="col-md-8">
                         <label class="control-label">Storage Drive Detail</label>
                        <input name="spec.StorageDriveDetail" class="form-control"/>
                    </div>
                </div>

                 <div class="row mb-2">
                    <div class="col">
                        <label class="control-label">WIFI</label>
                        <input name="spec.WIFI" class="form-control"/>
                    </div>
                </div>

                 <div class="row mb-2">
                    <div class="col">
                        <label class="control-label">Weight</label>
                        <input name="spec.Weight" class="form-control"/>
                    </div>
                </div>
                
                 <div class="row mb-2">
                    <div class="col">
                        <label class="control-label">Power Supply</label>
                        <input name="spec.PowerSupply" class="form-control"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary"/>
            </div>
             <div class="col-md-4">
                <div class="form-group">
                <label class="control-label">Select Product Image</label>
                <input accept="*.jpg, *.png" type="file" name="Image" onchange="readURL(this)"/>
                <img id="preview"/>
            </div>
        </div>
        </form>
    </div>
   
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <style>
        .spec {
            border: 1px solid grey;
            padding: 10px;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        img {
            margin-top: 10px;
        }

    </style>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#preview')
                    .attr('src', e.target.result)
                    .width(600)
                    .height(600);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}
